@page
@model RazorMovies.Pages.AddMovieModel
@{
    ViewData["Title"] = "Add Movie";
}

<form method="post">

    <div class="form-group">
        <label asp-for="NewMovie.Title"></label>
        <input asp-for="NewMovie.Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewMovie.Year"></label>
        <input asp-for="NewMovie.Year" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewMovie.Rating"></label>
        <input asp-for="NewMovie.Rating" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewMovie.Genre"></label>
        <input asp-for="NewMovie.Genre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewMovie.Description"></label>
        <textarea asp-for="NewMovie.Description" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success">Add Movie</button>

</form>