@page
@model IndexModel
@{
    ViewData["Title"] = "Movie page";
}

<h2>Movie Overview</h2>

<a asp-page="AddMovie" class="btn btn-primary mb-3">Add New Movie</a>

<div class="text-center">
    <table class="table table-striped text-center">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
        @foreach (var item in Model.movies)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Year</td>
                <td>@item.Rating</td>
                <td>
                    <a asp-page="MovieDetails" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        Details
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
